.cards_container {
  padding: 5px;
  padding-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
  row-gap: 20px;
  height: 88%;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    opacity: 0;
  }
}
.card {
  width: 100%;
  white-space: wrap;
  height: 380px;
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img_con {
  height: 50%;
  width: 100%;
}

.body_con {
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.heading_con {
  height: 20%;
}

.decp_con {
  height: 80%;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    opacity: 0;
  }
}

.body_con,
.btns_con {
  padding: 10px;
}

.btns_con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove_btn {
  background-color: #ff6c6c;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .cards_container {
    grid-template-columns: 1fr;
    height: 70%;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .cards_container {
    grid-template-columns: repeat(2, 1fr);
    height: 70%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .cards_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
