* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.screen {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 5px;
  white-space: nowrap;
  padding: 10px;
}

.sideBar {
  background-color: #383838;
  border-radius: 10px;
  height: 97vh;
}

.main {
  background-color: #e0e0e0;
  border-radius: 10px;
  border: 1px solid rgb(173, 173, 173);
  height: 97vh;
  padding: 12px;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .screen {
    grid-template-columns: 1fr; /* Only one column for mobile view */
    padding: 0;
  }

  .sideBar {
    display: none;
  }

  .main {
    border-radius: 0;
    border: none;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
  }
}
